.vspace {
	height: 20px;	
}
.movies LI {
    width: 250px;
    height: 100px;
    float: left;
    padding: 10px;
}
.moviesTable {
	font-size: 11pt; 
	font-family: Tahoma, sans-serif; 
	color: #E6E7E9;
}
.moviesTable .no {
	width: 20px;	
}
.moviesTable .img {
	margin: 7px;
	border: 1px dotted;
}

.authors-cloud {
	display: block;
}
.authors-cloud SPAN {
	font-variant: small-caps;
	text-transform: capitalize;	
	padding: 3px;
}
.books LI {
    width: 350px;
    height: 100px;
    float: left;
    padding: 10px;
}
.booksTable {
	font-size: 11pt; 
	font-family: Tahoma, sans-serif; 
	color: #E6E7E9;
}
.booksTable .no {
	width: 20px;	
}
.booksTable .img {
	margin: 7px;
	border: 1px dotted;
}

span.rating span {
	display: block;
	float: left;
	height: 20px;
	width: 20px;
}
span.full-star {
	background-image: url('../images/full-star.png');
}
span.half-star {
	background-image: url('../images/half-star.png')
}
span.empty-star {
	background-image: url('../images/empty-star.png')
}
span.title {
	display: block;
	font-variant: small-caps;
}
span.author {
	display: block;
	font-style: italic;
	text-transform: capitalize;
}

.warning {
	color: #F66;
	font-weight: bold;
}
.showTable TH {
	text-align: center;
	padding: 10px;
	border: 1px dotted;
	font-size: 10pt; font-family: Tahoma, sans-serif; color: #E6E7E9;
}
.showTable TD {
	text-align: center;
	padding: 10px;
	border: 1px dotted;
	font-size: 10pt; font-family: Tahoma, sans-serif; color: #E6E7E9;
}
DIV {
	margin-bottom: 3px;
}
UL {
	margin-left: -20px;
	list-style: none;
	vertical-align: middle;
}	
UL LI {
	padding-left: 13px;
	background-image: url(../images/listitem.png);
	background-repeat: no-repeat;
	background-position: 0 6px;
	vertical-align: middle;
}
PRE {
	margin: 0px;
}
H1, .H1 { 
	font-weight: bold; 
	font-size: 14pt; 
	font-family: Arial Narrow, sans-serif; 
	color: #333; 
	font-variant: small-caps;	 
}
H2, .H2 { 
	font-weight: bold; 
	font-size: 12pt; 
	font-family: Arial Narrow, sans-serif; 
	color: #DDD; 
	font-variant: small-caps;
}
.paper-img {
	float: 	right;
	border: 1px dotted #EEE;
	margin: 10px;
}
.pageContent A:hover {
	color: #AAA;
	background-color: #258;
	border-bottom: 2px solid #006600;
}
#books A {
	border: 0px;
	text-decoration: none;
}
#books A:hover {
	text-decoration: underline;
}
A:hover {
	text-decoration: underline;
}
DIV.download {
    background-position: center left;
    background-repeat: no-repeat;
	background-image: url('../images/download.png');
    padding-left: 25px;
    margin-top: 5px;	
}
DIV.block {
	text-indent: 0pt;
	border: 1px dotted #EEE;
	background-color: #666;
	padding: 10px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 5px;
}
#mygallery {
	display: block;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 552px !important;
	height: 414px !important;	
}
DIV.paper  DIV.title {
    font-weight: bold;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-left: 0px;
    padding-left: 20px;
}
DIV.paper A {
	color: #CCC;
}
DIV.conference {
    background-position: center left;
    background-repeat: no-repeat;
	background-image: url('../images/pub-conference.png');
    padding-left: 20px;
}
DIV.conference A {
    color: #BCD;
}
DIV.journal {
    background-position: center left;
    background-repeat: no-repeat;
	background-image: url('../images/pub-journal.png');
    padding-left: 20px;
}
DIV.journal A {
	color: #DCC;
}
DIV.other {
    background-image: url('../images/pub-other.png');
    background-position: center left;
    background-repeat: no-repeat;
}
DIV.talk {
	background-image: url('../images/talk.gif');
	background-position: center left;
	background-repeat: no-repeat;
	margin: 5px;
	padding-left: 20px;
}
A.download:link, A.download:visited {
	color: #FFFFFF;
}
#tripit-badge-inner-div .div {
	background-color: red;
}

/* content */
.pageContent { font-size: 11pt; font-family: Tahoma, sans-serif; color: #E6E7E9; }
 .pageContent a { font-size: 11pt; font-family: Tahoma, sans-serif; color: #E6E7E9; }

/* top elements */
.company { font-weight: bold; font-size: 18pt; font-family: Arial Narrow, sans-serif; color: #ffffff; }
.slogan { font-size: 7pt; font-family: Tahoma, sans-serif; color: #C7C6CA; text-transform: uppercase; }

/*main menu*/

.menu { font-size: 8pt; font-family: Tahoma, sans-serif; color: #ffffff; text-decoration: none; }
.amenu { font-weight: bold; font-size: 8pt; font-family: Tahoma, sans-serif; color: #ffffff; text-decoration: none; }

/*submenu*/
.submenu { font-size: 8pt; font-family: Tahoma, sans-serif; color: #ffffff; text-decoration: none; }
.asubmenu { font-weight: bold; font-size: 8pt; font-family: Tahoma, sans-serif; color: #ffffff; text-decoration: none; }

/*bottom menu*/
.bmenu { font-size: 8pt; font-family: Tahoma, sans-serif; color: #ffffff; text-decoration: none; }
.abmenu { font-weight: bold; font-size: 8pt; font-family: Tahoma, sans-serif; color: #ffffff; text-decoration: none; }

/*copyright*/
.footer { font-size: 8pt; font-family: Tahoma, sans-serif; color: #9D9AA0; }

/*backgrounds*/
.main-bg { background-color: #828691; }
