A:hover {
	text-decoration: underline;
}
.pageContent A:hover {
	color: #AAA;
	background-color: #258;
	border-bottom: 2px solid #006600;
}
DIV.download {
    background-position: center left;
    background-repeat: no-repeat;
	background-image: url('../images/download.png');
    padding-left: 25px;
    margin-top: 5px;	
}
DIV.block {
	text-indent: 0pt;
	border: 1px dotted #EEEEEE;
	background-color: #666666;
	padding: 10px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 5px;
}
#mygallery {
	display: block;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 552px !important;
	height: 414px !important;	
}
DIV.paper .title {
    background-position: center left;
    background-repeat: no-repeat;
    font-weight: bold;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-left: 0px;
    padding-left: 10px;
}
DIV.paper .conference {
    background-image: url('../images/pub-conference.png');
    padding-left: 25px;
}
DIV.paper A {
	color: #CCC;
}
DIV.paper .conference A {
    color: #BCD;
}
DIV.paper .journal {
    background-image: url('../images/pub-journal.png');
    padding-left: 25px;
}
DIV.paper .journal A {
	color: #DCC;
}
DIV.paper .other {
    background-image: url('../images/pub-other.png');
    padding-left: 25px;
}
DIV.talk {
	background-image: url('../images/talk.gif');
	background-position: center left;
	background-repeat: no-repeat;
	margin: 5px;
	padding-left: 20px;
}
A.download:link, A.download:visited {
	color: #FFFFFF;
}
#tripit-badge-inner-div .div {
	background-color: red;
}

/* content */
.text-header { font-weight: bold; font-size: 14pt; font-family: Arial Narrow, sans-serif; color: #272A32; font-variant: small-caps;	 }
.pageContent { font-size: 10pt; font-family: Tahoma, sans-serif; color: #E6E7E9; }
 .pageContent a { font-size: 10pt; font-family: Tahoma, sans-serif; color: #E6E7E9; }

/* top elements */
.company { font-weight: bold; font-size: 18pt; font-family: Arial Narrow, sans-serif; color: #ffffff; }
.slogan { font-size: 7pt; font-family: Tahoma, sans-serif; color: #C7C6CA; text-transform: uppercase; }

/*main menu*/

.menu { font-size: 8pt; font-family: Tahoma, sans-serif; color: #ffffff; text-decoration: none; }
.amenu { font-weight: bold; font-size: 8pt; font-family: Tahoma, sans-serif; color: #ffffff; text-decoration: none; }

/*submenu*/
.submenu { font-size: 8pt; font-family: Tahoma, sans-serif; color: #ffffff; text-decoration: none; }
.asubmenu { font-weight: bold; font-size: 8pt; font-family: Tahoma, sans-serif; color: #ffffff; text-decoration: none; }

/*bottom menu*/
.bmenu { font-size: 8pt; font-family: Tahoma, sans-serif; color: #ffffff; text-decoration: none; }
.abmenu { font-weight: bold; font-size: 8pt; font-family: Tahoma, sans-serif; color: #ffffff; text-decoration: none; }

/*copyright*/
.footer { font-size: 8pt; font-family: Tahoma, sans-serif; color: #9D9AA0; }

/*backgrounds*/
.main-bg { background-color: #828691; }
