<?xml version="1.0" encoding="ISO-8859-1"?>

<menu>
  <entry>
    <text>Home</text>
    <id>home</id>
  </entry>
  <entry>
    <text>About me</text>
    <id>aboutme</id>
  </entry>
  <entry>
    <text>Publications</text>
    <id>publications</id>
    <subentry>
      <text>All</text>
      <id>publications.html</id>
    </subentry>
    <subentry>
      <text>Journal articles</text>
      <id>publications_journal</id>
    </subentry>
    <subentry>
      <text>Conference proceedings</text>
      <id>publications_conf</id>
    </subentry>
    <subentry>
      <text>Other publications</text>
      <id>publications_other</id>
    </subentry>
  </entry>
  <entry>
    <text>Presentations</text>
    <id>talks.html</id>
  </entry>
  <entry>
    <text>Projects</text>
    <id>projects.html</id>
  </entry>
</menu>
